* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
}
a {
  text-decoration: none;
}
.container {
}
@media screen and (max-width: 425px) {
}

/* Apply styles when the device is in landscape mode */
@media screen and (orientation: landscape) and (max-height: 425px) {
  body {
  }
}
