/* @import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap");

:root {
  --font-base: "Cormorant Upright", serif;
  --font-alt: "Open Sans", sans-serif;
  --color-red: #9e0e40;
  --color-footer: #103d47;
  --color-azur-light: #5ab1c7;
  --color-hover: #8ee1ef;
  --color-subtext: #ff8a71;
  --color-primary: #26819e;
  --color-secondary: #ffcf0d;
  --color-gradient-slogan: linear-gradient(180deg, #103d47, #236c7e);
  --color-gradient: linear-gradient(180deg, #103d47, #236c7e);
  --color-gradient-reversed: linear-gradient(0deg, #103d47, #236c7e);
  --color-neutral: rgb(151, 151, 151);
  --color-black : #212121;
} */